# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
quote_type = single
ij_typescript_spaces_within_imports = true # для пробелов
ij_typescript_force_semicolon_style = true # ставить точку с запятой в конце
ij_typescript_use_semicolon_after_statement = true # ставить точку с запятой в конце
ij_typescript_use_double_quotes = false # не использовать двойные кавычки
ij_typescript_force_quote_style = true # не использовать двойные кавычки

[*.md]
max_line_length = off
trim_trailing_whitespace = false
